<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/css/mdb.min.css" rel="stylesheet">
  <link href="/css/bootstrap-social.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/login.css">  
  <title>chat-app</title>
</head>
<body>
  <div class="container">
    <h2>Sign in</h2>
    <div class="buttons d-flex flex-column">
        <a href="/auth/vk" class="btn btn-vk">
          <i class="fab fa-vk pr-1"></i> Vkontakte
        </a>
        <a href="/auth/facebook" class="btn btn-facebook">
          <i class="fab fa-facebook-f pr-1"></i> Facebook
        </a>
        <a href="/auth/google" class="btn btn-google">
          <i class="fab fa-google-plus-g pr-1"></i> Google +
        </a>
    </div>
    <!-- <ul class="nav d-flex flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/auth/vk">vkontakte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn-facebook" href="/auth/facebook">facebook</a>
      </li>
      <li class="nav-item">
        <a href="/auth/facebook"><button type="button" class="btn btn-gplus"><i class="fab fa-google-plus-g pr-1"></i> Google +</button></a>
      </li>
    </ul> -->
  </div>
</body>
</html>